<ion-header-bar align-title="left" class="bar-positive">

  <h1 class="title">Scan Qr Code</h1>

</ion-header-bar>


  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/qr-code.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>

    <div class='alert alert-info'>
    </div>




<div class="card">
  <div class="item item-divider item-header">
Comment ça marche ?
  </div>
  <div class="item item-text-wrap">
Scannez les QRcode des fournisseurs que vous allez visiter pour enregistrer votre visite et obtenir des informations complémentaires.

  </div>

</div>





    <div id="scanQRCode-button-bar1" class="button-bar">
      <button id="scanQRCode-button4" ng-click="scanBarcode()" class="button button-positive button-block">Scanner</button>
    </div>
  </ion-content>
